/*---------------------- Allen's CSS ------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
} 

.topnav img {
  width: 7%;
  vertical-align: middle;
}

.topnav span {
  display: block;
}

ul.topnav li {
  display: inline;
}

ul.topnav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li.right {
  float: right;
}

.dentist-banner {
  max-width: 100%;
  max-height: 300px;
  margin: 0 auto 3%;
  display: flex;
  position: relative;
}

.log {
  float: left;
}

.log a {
  text-decoration: none;
}

.dentist-signup {
    float: left;
    position: absolute;
    margin: 1% 2.5%
}

.dentist-signup h2 {
  text-align: center;
  margin-top: 20%;
  color: #fff;
}

.dentist-signup p {
  text-align: center;
}

.dentist-banner img {
  width: 100%;
}

.dentist-banner form {
  display: block;
  margin: 5% 10%;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}

.signupbtn {
    padding: 14px 20px;
    background-color: #FFC107;
    color: #000;
}


.signinbtn {
    float: left;
    width: 50%;
}

.container-signup {
    padding: 16px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
  padding: 5px;
	width: 960px;
	margin: 20px auto;
}

section {
  clear: both;
}

.first {
	width: 290px;
	float: left;
	padding: 5px 15px;
}

.first i:hover {
  color: #21C6D7;
}

.container h2:hover {
  text-decoration: underline;
}

.second {
	width: 294px;
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

.second i:hover {
  color: #1898D9;
}

.third {
	width: 270px;
	padding: 5px 15px;
	float: left;
}

.third i:hover {
  color: #20C7B0;
}

#dentist-info div {
  text-align: center;
}

#dentist-info a {
  color: #000;
  text-decoration: none;
}

.wrapper {
  width:960px;
  margin: 0 auto 25%;
}

.wrapper h2:hover {
  text-decoration: underline;
}


#dentist-service div {
  text-align: center;
}

.left_col {
   float:left;
   width:400px;
}

.left_col i:hover {
  color: #638FAF;
}

.right_col {
   float:right;
   width:400px;
}

.right_col i:hover {
  color: #E43D40;
}

.right_col div {
  clear: left;
}

#dentist-service img {
  float: left;
}

#dentist-service a {
  color: #000;
  text-decoration: none;
}

.form-container {
  padding: 2%;
  margin: 3% 28%;
  background-color: #eff5ff;
  border-radius: 8px;
  border-top: 10px solid #595959;

}

.createbtn {
  background-color: #39e498;
  color: #000;
}

.cancelbtn {
  background-color: #fd5e5e;
  color: #000;
}

.allen-margin {
  margin-bottom: 15%;
}



/*----------------------John's CSS ------------------------------*/
.ontheleft
{
  padding: 15px;
  width:50%;
  float: left;
}

.ontheright
{
  width:40%;
  float: right;
}

.onthebottom
{
  clear: both;
}

.ontheright img
{
  width:550px; 
  height: 400px;
  margin-top: 100px;
}

.assist img
{
  clear: right;
  width:550px; 
  height: 600px;
  margin-top: 175px;
}

#map
{
      margin-top: -450px;
}

/*----------------------Chi's CSS ------------------------------*/

.containerPro {
  padding: 5px;
	width: 960px;
	margin: 20px auto;
	height: 600px;
}




/*----------------------Vinnie's CSS ------------------------------*/
footer {
	font-size: 12px;
	background-color: #444;
  color: #fff;
  clear: both;
	padding: 2% 5%;
  text-align: center;
  font-size: 14px;
}
footer a
{
  text-decoration: none;
  color: #fff;
	padding-right: 10px;
}





/*----------------------Alex's CSS ------------------------------*/
.error-warning
{
  color: red;
}

.success-warning
{
  color: green;
}

/*----------------------Media queries------------------------------*/

@media screen and (max-width: 980px) {

	.container {
		width: 94%;
	}
	.first {
		width: 41%;
		padding: 1% 4%;
	}
	.second {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}

	.third {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }

	.first {
		width: auto;
		float: none;
	}

	.second {
		width: auto;
		float: none;
		margin-left: 0px;
	}

	.third {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	.third {
		display: none;
	}

}
